{% extends 'base.html.twig' %}

{% block title %}New Demandeur{% endblock %}

{% block body %}
    <h1>Create new Demandeur</h1>

    {{ include('backend_demandeur/_form.html.twig') }}

    <a href="{{ path('app_backend_demandeur_index') }}">back to list</a>
{% endblock %}
