<form method="post" action="{{ path('app_frontend_prestataire_projet_supprimer', {'prestataire' : prestataire.matricule, 'reference': postuler.reference }) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer votre offre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ postuler.id) }}">
    <button class="btn btn-danger btnSoumission">Supprimer</button>
</form>