<form method="post" action="{{ path('app_backend_localite_delete', {'id': localite.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette localité?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ localite.id) }}">
    <button class="btn btn-danger btnSoumission">Supprimer</button>
</form>
