{% extends 'base.html.twig' %}

{% block title %}New Localite{% endblock %}

{% block body %}
    <h1>Create new Localite</h1>

    {{ include('backend_localite/_form.html.twig') }}

    <a href="{{ path('app_backend_localite_index') }}">back to list</a>
{% endblock %}
