{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}
    <main>
        <section class="profile" id="profile">
            <div class="container">
                <div class="row">
                    {% include 'frontend/_demandeur_menu.html.twig' %}
                    <div class="col-12 col-lg-9 profile-content">
                        <h2 class="titre">Mes projets</h2>
                        <div class="text-end">
                            <a href="{{ absolute_url(path('app_frontend_demandeurprojet_ajout', {'demandeur': demandeur.code})) }}" class="btn btn-main btn-sm"><i
                                        class="bi bi-plus-circle-fill"></i> Ajouter un projet</a>
                        </div>
                        <div class="mt-5 profile-content_projet">
                            <div class="card">
                                <div class="card-body">
                                    <span class="badge bg-primary">Domaine</span>
                                    <h5 class="card-title">Lorem titre</h5>
                                    <div class="row">
                                        <div class="col-md-6 budgetisation">
                                            Budgetisation : <span>12.000FCFA - 25.000FCFA</span>
                                        </div>
                                        <div class="col-md-6">
                                            Publié le 30/08/2024 à 17:31:58
                                        </div>
                                        <div class="col12">
                                            <i class="bi bi-geo-alt"></i> Abidjan Riviera 3
                                        </div>
                                        <div class="col-12 description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ad
                                            totam id rem
                                            suscipit eaque asperiores, non iure quo. Ad fugiat quos ut corporis
                                            laboriosam
                                            molestiae neque cupiditate? Iste, at.
                                        </div>
                                        <div class="col-md-6">
                                            Statut: <span class="badge text-bg-danger">Fermé</span>
                                        </div>
                                        <div class="col-md-6">
                                            Prestataire: <a href="#" class="prestatatire">Nom prestataire</a>
                                        </div>
                                        <div class="col-12">
                                            Budget final: 20.000 FCFA
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-end">
{#                                    <a href="demandeur_mesprojetsdetails.html"#}
{#                                       class="btn btn-outline-secondary btn-sm">Details</a>#}
                                    <a href="{{ absolute_url(path('app_frontend_demandeurprojet_ajout', {'demandeur': demandeur.code})) }}" class="btn btn-main btn-sm">Modifier</a>
                                </div>
                            </div>

                            <div class="profile-content_projet-prestataires mt-5">
                                <h4 class="nombre">2 prestataires</h4>
                                <div class="card mt-3">
                                    <div class="row g-0">
                                        <div class="col-md-2">
                                            <img src="{{ absolute_url(asset('img/all/3d-worker.png')) }}"
                                                 alt="" class="img-fluid rounded-start">
                                        </div>
                                        <div class="col-md-10">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <div class="row">
                                                        <div class="col-10">
                                                            <h6 class="fz-22 fw-500">
                                                                <a href="#">Nom du prestataire</a>
                                                            </h6>
                                                            <small class="text-body-secondary fz-14">
                                                                    <span class="rating">
                                                                        <i class="bi bi-star-fill"></i>
                                                                        <i class="bi bi-star-fill"></i>
                                                                        <i class="bi bi-star-fill"></i>
                                                                        <i class="bi bi-star-half"></i>
                                                                        <i class="bi bi-star"></i>
                                                                        4.5 avis
                                                                    </span>
                                                                <span class="create-at fz-16">22/07/2024
                                                                        17:22:59</span>
                                                            </small>
                                                        </div>
                                                        <div class="col-2">
                                                            <a href="#" class="btn btn-sm btn-main">Embaucher</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="card-text fz-16">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                                                    modi
                                                    ducimus assumenda, dicta tempore nesciunt iusto non officia
                                                    minima molestias quo beatae quae repellendus, nulla odit
                                                    necessitatibus sint ipsum quidem.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block breadcrumb %}
    <section class="header py-30" id="breadcrumb"> </section>
{% endblock %}
