{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}
    <main>
        <section class="profile" id="profile">
            <div class="container">
                <div class="row">
                    {% include 'frontend/_demandeur_menu.html.twig' %}
                    <div class="col-12 col-lg-9 profile-content">
                        <h2 class="titre">Publiez un projet</h2>
                        <div class="mt-5 profile-content_projet">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row form-group">
                                        <div class="col-12 mt-3">
                                            <label for="">Intitulé du projet</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-4 mt-3">
                                            <label for="">Domaine</label>
                                            <select name="" id="" class="form-select">
                                                <option value="">Domaine</option>
                                            </select>
                                        </div>
                                        <div class="col-md-8 mt-3">
                                            <label for="">Lieu de prestation</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-6 mt-3">
                                            <label for="">Date de prestation</label>
                                            <input type="date" class="form-control">
                                        </div>
                                        <div class="col-md-6 mt-3">
                                            <label for="">Date limite de soumission</label>
                                            <input type="date" class="form-control">
                                        </div>
                                        <div class="col-md-4 mt-3">
                                            <label for="">Préférence du genre</label>
                                            <select name="" id="" class="form-select">
                                                <option value="">Aucune</option>
                                                <option value="">Homme</option>
                                                <option value="">Femme</option>
                                            </select>
                                        </div>
                                        <div class="col-6 col-md-4 mt-3">
                                            <label for="">Budget min.</label>
                                            <input type="number" class="form-control">
                                        </div>
                                        <div class="col-6 col-md-4 mt-3">
                                            <label for="">Budget max.</label>
                                            <input type="number" class="form-control">
                                        </div>
                                        <div class="col-12 mt-3">
                                            <label for="">Description du projet</label>
                                            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <label for="">Descriptif photo (optionnel)</label>
                                            <input type="file" name="" id="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-end">
                                    <div class="row mt-3">
                                        <div class="col-6 col-lg-3 offset-lg-6 d-grid gap-0">
                                            <a href="{{ absolute_url(path('app_frontend_demandeurprojet_index', {demandeur: demandeur.code})) }}" class="btn btn-outline-secondary btn-sm">Annuler</a>
                                        </div>
                                        <div class="col-6 col-lg-3 d-grid gap-0">
                                            <button type="submit" class="btn btn-main btn-sm disabled">Publiez</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block breadcrumb %}
    <section class="header py-30" id="breadcrumb"> </section>
{% endblock %}
