<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Pro Connect{% endblock %}</title>
        <link rel="icon" href="">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        {% block meta %}

            <meta property="og:locale" content="fr_FR" />
            <meta property="og:locale:alternate" content="en_US" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="ProConnect : Plateforme de mise en relation demandeur - prestataire" />
            <meta property="og:description" content="ProConnect : Plateforme de mise en relation demandeur - prestataire" />
            <meta property="og:url" content="{{ absolute_url(path('app_home_index')) }}" />
            <meta property="og:site_name" content="ProConnect" />
            <meta property="article:modified_time" content="2022-12-18T11:08:30+00:00" />
            <meta property="og:image" content="{{ absolute_url(asset('assets/img/_logo-rvb.png')) }}" />
            <meta property="og:image:type" content="image/svg+xml" />
            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:description" content="ProConnect : Plateforme de mise en relation demandeur - prestataire"/>
            <meta name="twitter:title" content="ProConnect : Plateforme de mise en relation demandeur - prestataire"/>
            <meta name="twitter:domain" content="ProConnect"/>
            <meta name="twitter:image:src" content="{{ absolute_url(asset('assets/img/_logo-rvb.png')) }}"/>

        {% endblock %}

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
