<form method="post" action="{{ path('app_backend_call_to_action_delete', {'id': call_to_action.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette action?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ call_to_action.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
