.error{
    background: var(--color-main-gradient);
    .container{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    }

    .content{
    }

    &-code{
        font-size: 10rem;
        font-weight: 1000;
        color: var(--color-main);
        margin-bottom: 100px;
    }

    &-message{
        font-size: 3rem;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &-description{
        font-size: 1rem;
    }

    a{
        text-decoration: none;
        color: var(--color-main);
        font-weight: 500;
    }
}